<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf">
<head>
    <meta charset="UTF-8">
    <title>New ADMIN</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/add}">
    <label for="person">SELECT People:</label>
    <select th:object="${person}" th:field="*{id}" id="person">
        <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getName()}"></option>
    </select>

    <br/>
    <input type="submit" value="Add Admin"/>

</form>

</body>
</html>